---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Emmay's Blog";
const off = false
---
<Layout pageTitle={pageTitle}>
  {off ?   <h1>Home</h1>
    <span class="badge">Digital Garden</span>
  : ""}
    <h2>Sobre</h2>
    <p>
    Emmay é o meu cantinho pessoal, onde os livros e pensamentos se entrelaçam e fazem sentido.
    Aqui, eu me permito mergulhar nas histórias que me tocam e nas ideias que me fazem refletir.
    Às vezes, é sobre um romance que me arrebata, outras vezes é uma reflexão filosófica que me faz ver a vida de outra maneira. 
    </p>
    <p>
    Cada post é uma tentativa de entender o mundo e a mim mesma, enquanto compartilho as palavras que me inspiram e desafiam.
    </p>

   <h2>Interesses</h2>
    <p>
    <ul>
      <li>    Literatura: O que as palavras podem me ensinar, desde os clássicos até os mais novos.</li>
      <li>    Filosofia: Pensamentos que me ajudam a decifrar as complexidades da vida e do ser.</li>
      <li>    Criatividade: Como as histórias e ideias podem me levar a novos lugares, ou me fazer olhar para os velhos de outra maneira.</li>
      <li>    Autoconhecimento: Livros e pensamentos que são pequenos guias na minha jornada pessoal.</li>
      <li>    Cultura: A maneira como as diferentes perspectivas podem enriquecer o meu entendimento sobre o mundo e sobre mim.   </li>
    </ul>
  </p>
</Layout>

