---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Blog da Emmay";
---
<Layout pageTitle={pageTitle}>
    <h2>Sobre</h2>
    <p>
      Esse blog surge da necessidade de lembrar os livros que leio.
    </p>
    <p>
    Minha namorada me deu um livro e só percebi que já tinha lido depois da metade da segunda leitura.
    </p>
    <p>
      Quando percebi que tenho uma tremenda dificuldade em me lembrar dessas coisas, resolvi escrever. Escrevendo espero pelo menos ter um banco de anotações que posso consultar quando precisar.
    </p>



   <h2>Interesses</h2>
    <p> Comecei com livros mas tenho outros interesses que pretendo escrever sobre. Aqui uma lista deles: 
    <ul>
      <li>Literatura</li>
      <li>Filosofia</li>
      <li>Filmes</li>
      <li>Séries</li>
      <li>Programação</li>
    </ul>
  </p>
</Layout>

