---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/CardPost.astro";

const ptbrPosts = await getCollection('posts', ({ id }) => {
  return id.startsWith('ptbr/');
});

const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
   <h2>Posts</h2>
    <ul role="list" class="link-card-grid">
        {
            ptbrPosts.map((cardPost) => (
                <Card
                  url={`/blog/posts/${cardPost.slug}/`}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
