---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Emmay's Blog";
---
<Layout pageTitle={pageTitle}>
    <h2>About</h2>
    <p>
     This blog arises from the need to remember about the books that I read.
    </p>
    <p>
     My girlfriend gave me a book and I only realized that I had already read it after half of the second reading.
    </p>
    <p>
    When I realized that I have tremendous difficulty remembering these things, I decided to write.
    When writing, I hope to at least have a note database that I can refer to when I need to.
    </p>



   <h2>Interests</h2>
    <p> I started with books but I have other interests that I want to write about. Here's a list of them:
    <ul>
      <li>Literature</li>
      <li>Philosophy</li>
      <li>Movies</li>
      <li>Series</li>
      <li>Coding</li>
    </ul>
  </p>
</Layout>
