---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="mailto: may.emilying@gmail.com"><span class="mail-icon">Email</span></a></li>
        </ul>
    </div>
</footer>

