---
import { languages } from '../i18n/ui';

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url).toUpperCase();

---

 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">{lang == 'PTBR' ? `🇧🇷 ${lang}` : `🇺🇸 ${lang}`}</button>
  <div id="myDropdown" class="dropdown-content">
  {Object.entries(languages).map(([lang, label]) => (
    <a href={`/blog/${lang}/`}>{label} </a>
  ))}
  </div>
</div> 

<script is:inline>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} 
</script>

