---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/blog">Milky-Way</a>
    </div>
    <div class="navbar__menu">
        <a href="/blog/works/">Works</a>
        <a href="/blog/posts/">Posts</a>
        <ThemeIcon />
    </div>
</div>

