---
import BaseLayout from "./Layout.astro";

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url).toUpperCase();

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

   <h2 style="text-decoration:none;">{frontmatter.title}</h2>
    <ul class="badge__list">
        <li>
      <span class="badge badge--item">{lang == 'PTBR' ? "AUTORA" : "AUTHOR"}</span>{frontmatter.author}
        </li>
        <li>
            <span class="badge badge--item">{lang == 'PTBR' ? "PUBLICADO" : "PUBLISHED"}</span>{frontmatter.date}
        </li>
    </ul>
    <slot />
</BaseLayout>
